<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ link-to 'TicketHub' 'application' class="navbar-brand" }}
    </div>

    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav">

        {{#if session.isAuthenticated}}
          <li>{{link-to 'Dashboard' 'dashboard'}}</li>

          {{#if (eq currentUser.role 'client')}}
            <li>{{link-to 'Create Ticket' 'ticket.new'}}</li>
            <li>{{link-to 'View My Tickets' 'tickets'}}</li>

          {{else if (eq currentUser.role 'admin')}}
            <li>{{link-to 'Accept Company Request' 'company_requests'}}</li>
            <li>{{link-to 'View Tickets' 'tickets'}}</li>

          {{else if (eq currentUser.role 'agent')}}
            <li>{{link-to 'Accept User Request' 'login_requests'}}</li>
            <li>{{link-to 'View My Tickets' 'tickets'}}</li>

          {{else if (eq currentUser.role 'company_admin')}}
            <li>{{link-to 'Create Agent' 'user.new'}}</li>
            <li>{{link-to 'Assign Ticket' 'ticket.assign'}}</li>
            <li>{{link-to 'View My Tickets' 'tickets'}}</li>
          {{/if}}
          <li><a href="#" {{action 'logout'}}>Logout</a></li>

        {{else}}
          <li>{{link-to 'Home' 'application'}}</li>
          <li>{{#link-to 'login'}}Login{{/link-to}}</li>
          <li>{{#link-to 'company_request.new'}}Join Us{{/link-to}}</li>
          <li>{{#link-to 'login_request.new'}}Sign Up{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="alert alert-info">
    <p><strong>Notifications:</strong></p>
    <p>
      {{#if session.isAuthenticated}}
        Welcome {{currentUser.full_name}}! Your role is "{{currentUser.role}}"
        <div class="hidden" id='userInfo' data-email='{{currentUser.email}}' data-token="{{currentUser.token}}" data-company-id="{{currentUser.company_id}}"></div>
      {{/if}}
    </p>
    <p>{{flash-message}}</p>
  </div>
  {{outlet}}
</div>
