
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ link-to 'TicketHub' 'application' class="navbar-brand" }}
    </div>

    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav">
        {{#if session.isAuthenticated}}
          <li>{{link-to 'Home' 'application'}}</li>
          <li>{{link-to 'Dashboard' 'dashboard'}}</li>
          <li><a href="#" {{action 'logout'}}>Logout</a></li>

        {{else}}
          <li>{{link-to 'Home' 'application'}}</li>
          <li>{{#link-to 'login'}}Login{{/link-to}}</li>
          <li>{{#link-to 'company_request.new'}}Join Us{{/link-to}}</li>
          <li>{{#link-to 'login_request.new'}}Sign Up{{/link-to}}</li>

        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{#if session.isAuthenticated}}
    <p>session.authenticated.store.role</p>
  {{/if}}
  <div class="alert alert-info">
    <p><strong>Notifications:</strong></p>
    {{flash-message}}
  </div>
  {{outlet}}
</div>
